:root {
    --themecolor: #6f9fc7;
    --code-bg: #183055;
}

* {
    margin: 0;
    padding: 0;
    font-family: 思源黑体, 微软雅黑;
    font-weight: 200;
    color: var(--normal-text);
}

body {
    position: relative;
    top: 0;
    background: var(--basic-bg);
    text-align: center;
}

#top-ad {
    position: relative;
    line-height: 50px;
}

#top-ad a {
    display: block;
    height: 50px;
    background: var(--themecolor);
    color: white;
}

a {
    text-decoration: none;
}

#top-ad div {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 50px;
    color: white;
    line-height: 50px;
    font-size: 24px;
}

#top-ad div:hover {
    background: rgba(255, 255, 255, .2);
}

#top-nav {
    position: sticky;
    top: 0;
    z-index: 99;
    height: 50px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    background: var(--premium-bg);
    line-height: 50px;
}

#top-nav div {
    position: absolute;
    top: 7px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    filter: grayscale(1);
    line-height: 36px;
}

#top-nav div:hover {
    background: var(--chosen);
}

#top-nav #switch-theme {
    left: 10px;
}

#top-nav #search-display {
    right: 10px;
}

#main-contain {
    position: relative;
    padding: 30px 24%;
}

@keyframes welcome-screen {
    0% {
        top: 100%
    }

    20% {
        top: 0;
    }

    55% {
        top: 0;
    }

    100% {
        top: 100%
    }
}

#main-contain::before {
    position: fixed;
    top: 100%;
    left: 0;
    content: "";
    display: block;
    z-index: 102;
    width: 100%;
    height: 100%;
    background: var(--themecolor);
    animation: welcome-screen 3s;
}

#main-contain::after {
    position: fixed;
    bottom: -5%;
    right: 0;
    content: "";
    display: block;
    z-index: -1;
    opacity: .1;
    width: 100%;
    height: 100%;
    background: right center/contain no-repeat;
    background-image: var(--bg-pic);
}

@keyframes welcome-actor {
    5% {
        bottom: -200px;
        right: -200px;
    }

    20% {
        bottom: calc(50% - 100px);
        right: calc(50% - 100px);
        transform: rotate(0);
    }

    55% {
        bottom: calc(50% - 100px);
        right: calc(50% - 100px);
        transform: rotate(-30deg);
    }

    88.75% {
        bottom: -200px;
        right: calc(100% + 200px);
    }
}

#welcome-actor {
    position: fixed;
    bottom: -200px;
    right: -200px;
    z-index: 102;
    width: 200px;
    height: 200px;
    animation: welcome-actor 3s;
}

@keyframes get-down {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#search-box {
    position: fixed;
    top: 45px;
    right: 15px;
    z-index: 101;
    display: none;
    background: var(--premium-bg);
    border-radius: 4px;
    padding: 15px 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    animation: get-down 1s ease-in-out;
}

.article {
    margin-bottom: 48px;
    text-align: left;
}

.article h2 {
    display: inline-block;
    border-bottom: 2px solid var(--guide-line);
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 26px;
    line-height: 52px;
}

.article .title {
    font-weight: normal;
    color: var(--themecolor);
}

.article .title:hover {
    filter: brightness(110%);
}

.article .body {
    margin-bottom: 16px;
    overflow: hidden;
    width: 100%;
    height: 56px;
    line-height: 28px;
}

.article .body>p {
    display: inline;
}

.article .time::before {
    content: "🕗 ";
}

.article .class::before {
    content: "🗂️ ";
}

.article .time,
.article .class {
    float: left;
    filter: grayscale(1);
    margin-right: 20px;
    line-height: 32px;
}

.error-404 * {
    text-align: center;
    line-height: 1.5;
}

.error-404 h3 {
    font-size: 58px;
    font-weight: 300;
}

#copyright {
    margin-top: 30px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: var(--premium-bg);
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    line-height: 50px;
}

@media screen and (max-width: 800px) {
    #main-contain {
        padding: 24px 5% 30px;
    }

    #main-contain::after {
        right: -75%;
        width: 300%;
    }
}