.article h2 {
    border: none;
    margin: 0;
}

.article .info {
    border-bottom: 2px solid var(--guide-line);
    margin-bottom: 20px;
}

.article .time,
.article .class {
    margin-bottom: 16px;
}

.article .body {
    overflow: visible;
    height: auto;
}

.article .body p {
    display: block;
    text-indent: 2em;
}

.article .body strong {
    font-weight: bold;
}

.article .body li {
    margin-left: 2em;
}

.article .body blockquote {
    position: relative;
    overflow: hidden;
    background: var(--premium-bg);
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

.article .body blockquote p {
    text-indent: 0;
}

.article .body blockquote p::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 8px;
    height: 100%;
    background: var(--themecolor);
}

.article .body code {
    background: var(--premium-bg);
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    padding: 3px 6px;
    font-family: 'Courier New', Courier, monospace;
}

.article .body pre {
    background: var(--code-bg);
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px 30px;
}

.article .body pre code {
    background: transparent;
    box-shadow: none;
    padding: 0;
    color: white;
}